<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <img
            class='ui image'
            src='/assets/PRIMARY_A_Vertical_Housed_RGB.png'
        >
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Site</h4>
        <div class="ui inverted link list"><a
              class="ui item"
              routerLink="/"
          >Home</a>
          <a
              class="ui item"
              routerLink="coursework"
          >Coursework</a>

          <a
              class="ui item"
              routerLink="research"
          >Research</a>

          <a
              class="ui item"
              routerLink="team"
          >Team</a>

          <a
              class="ui item"
              routerLink="news"
          >News</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Contact</h4>
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</div>