<div class="ui vertical stripe segment">
    <div class="ui container">
        <div class="ui segment">
            <div class="ui two column divided stackable grid">
                <div class="ui column">
                    <div class="ui top attached inverted blue segment">
                        <h3 class="ui special-bold header">Research</h3>
                    </div>
                    <div class="ui bottom attached segment">
                        <p>Wildfires (commonly termed bushfires in Australia) have been a part of the Australian environment for millions of years and have shaped the species and ecosystems we see today. Most systems require fire to maintain
                            diversity and function and have evolved with the fire regimes they experience.</p>

                        <p>Wildfires can also result in significant losses to human values such as loss of people and property, infrastructure and agricultural production. The International Disaster Database estimates the total losses by wildfires
                            globally since 1900 to exceed $77 billion USD. This value is likely to be largely an underestimate, as it is based on reported losses only. The actual value is expected to be considerably higher. </p>

                        <p>Humans have attempted to manage fire through indigenous burning practices and contemporary fire management strategies such as fuel treatment, fire suppression and fuel manipulation. There has been increasing public scrutiny
                            over how agencies allocate fire management budgets and many agencies are looking to use quantitative risk-based approaches to make decisions about expenditure in a more transparent manner.

                            Our team aims to improve a strong scientific basis for the prediction of wildfire behaviour and the impact of wildfires in order to identify management strategies that reduce the risk of damage to human values while
                            maintaining environmental values in the landscape. To do this our work covers three primary research areas:</p>

                        <ul class="ui list">
                            <li><a routerLink="/behaviour" class="ui item">Fire behaviour</a>;</li>
                            <li><a routerLink="/flammability" class="ui item">Landscape flammability</a>; and</li>
                            <li><a routerLink="/risk" class="ui item">Fire risk management</a>.</li>
                        </ul>

                        <p>These themes are interconnected, with research staff and students working across multiple themes.</p>
                    </div>
                </div>
                <div class="ui column">
                    <app-software></app-software>
                </div>
            </div>
        </div>
    </div>
</div>
