<div class="ui vertical stripe segment">

    <div class="ui container center aligned"><h2 class="ui header">Software</h2></div>

    <div class="ui top aligned stackable three column divided grid very relaxed container">
        <div class="ui column">
            <h3 class="ui header">FROST</h3>
            <p>FROST is a suite of software applications developed and used by the University of Melbourne for concurrent simulations of fire regimes and for running probabilistic and risk models, within diverse landscapes and ecosystems and
                across
                decades to centuries. </p>

            <p>It combines diverse models and data streams for weather, ignitions, fuel/vegetation, planned burns, suppression, disruption, infrastructure and fire propagation. Most models are developed within the group as part of FROST itself,
                while
                some are replaceable external applications, e.g. Phoenix is the current fire propagation tool and LANDIS can be plugged into the fuel/vegetation model for additional analysis and feedback. </p>

            <p>The solution is being developed for both research purposes and management application. Research will seek to address a range of questions ranging from the efficacy of treatment through to the best methods for optimizing outcomes
                under
                changing climates. </p>

            <p>We hope that fire and land management agencies will use the model outputs for quantitative risk planning in the short and medium term.
            </p>
        </div>
        <div class="ui column">
            <h3 class="ui header">LFMC</h3>
            <p>Fuel moisture information is critical for quantifying and managing bushfire risk at both operational and strategic planning scales. Accurate and timely information regarding fuel moisture across landscapes will improve bushfire risk
                estimates. Fire agencies cam use these data to the precision and accuracy of data and information supporting operational and strategic bushfire management planning. Forecasts of fuel moisture during bushfires and throughout the fire
                season enables more effective prioritisation of resources and allow for more accurate public advice about bushfire threats. The Bushfire Behaviour and Management Group from the University of Melbourne (UOM) was engaged by the
                Department of Environment, Land, Water and Planning (DELWP) to synthesise existing LFMC research into a single operational system (web application) for evaluating Landscape Fuel Moisture Condition. <a
                    href="https://documentation.landscapefuelmoisture.bushfirebehaviour.net.au/about/">Read more</a></p>

        </div>
        <div class="ui column">
            <h3 class="ui header">PHOENIX RapidFire</h3>
            <p>Phoenix is a fire simulation model that predicts the potential progression of fire across virtual landscapes under different weather and fire suppression scenarios. This provides a means of evaluating the likely consequences of a fire
                and allows alternative scenarios to be tested. It is widely used by management agencies to help plan activities during bushfires and visualise the parts of the landscape that are most vulnerable to fire. </p>
        </div>
    </div>
</div>
