
            <h3 class="ui header">What</h3>
            <p>Risk modelling provides a methodology for investigating alternative burning strategies, management scenarios and decisions. We examine scenarios such as the impact of individual fires to the effect of climate change on fire regimes.
            </p>

            <h3 class="ui header">Why</h3>
            <p>The Royal Commission in 2014 promoted management strategies including annual percentage-based prescribed burning targets with no explicit level of risk reduction. Recently there has been a move away from annual targets towards a more
                strategic
                approach aimed at quantifying and addressing landscape risk.</p>

            <p>Our risk modelling approach provides a systematic method for assessing trade-offs between different management strategies, with estimates of residual risk and cost-effectiveness across a range of values and assets types. Our work in
                this field
                aims to provide robust calculations of risk (at the local and landscape scale) to assist decision making and inform on-ground management for a range of assets including people, property, economic, environmental, cultural and
                infrastructure.
                Through new software developed by our team we also have the capacity to integrate future climate scenarios, enabling the assessment of risk under a changing climate.</p>
            <h3 class="ui header">How</h3>
            <p>We use a range of modelling approaches to quantify risk, specialising in fire simulation, spatial data analysis, Bayesian Network Modelling and <a routerLink="/software">fire regime simulations</a>.</p>

            <h3 class="ui header">Where</h3>
            <p>Our team is currently working on a range of projects across south-eastern Australia, with a range of research partners including both government and commercial agencies.</p>
