<!-- Secondary navigation - breadcrumb trail -->
<app-breadcrumbs></app-breadcrumbs>

<!-- Content -->
<div class="ui masthead attached segment ">
    <img src="/assets/coursework_hero_masthead.jpg" class="ui fluid image" />
</div>

<div class="ui vertical stripe bottom attached segment">
    <div class="ui segment">
        <!-- Summary -->
        <div class="ui grid">
            <div class="ui four wide column">
                <h3 class="ui header">Courses</h3>
                <app-courses></app-courses>
            </div>
            <div class="ui twelve wide column">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Job</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Name">James</td>
                            <td data-label="Age">24</td>
                            <td data-label="Job">Engineer</td>
                        </tr>
                        <tr>
                            <td data-label="Name">Jill</td>
                            <td data-label="Age">26</td>
                            <td data-label="Job">Engineer</td>
                        </tr>
                        <tr>
                            <td data-label="Name">Elyse</td>
                            <td data-label="Age">24</td>
                            <td data-label="Job">Designer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
