/*
.particles {
    position: relative;
    width: 100%;
    min-height: 400px;
}*/


#particles-canvas {
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    bottom:0;
    min-height: 40px;
    z-index: 10;
}