<div class="ui box">
    <!-- <img src="https://via.placeholder.com/250?text=ProfilePic" alt="" class="ui profile image"> -->
    <img
        src="{{teammember.avatar}}"
        class="ui profile image"
    >
    <div class="expander frame">
        <div class="ui raised expander contents">
            <div class="ui profile content">
                <div class="ui top attached inverted header segment">{{teammember.title}} {{teammember.firstname}} {{teammember.surname}}</div>
                <div class="ui bottom attached segment">
                    <div class="profile scrolling">
                        <p>{{teammember.role}}</p>
                        <p>{{teammember.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
