<nav>
    <!-- <div class="ui large top fixed menu transition visible" style="display: flex !important;">
      <div class="ui container">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
    </div> -->
    
<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
          <a class="ui item" routerLinkActive="active" routerLink="/home">Home</a>
          <a class="ui item" routerLinkActive="active" routerLink="/team">Team</a>
          <a class="ui item" routerLinkActive="active" routerLink="/research">Research</a>
          <a class="ui item" routerLinkActive="active" routerLink="/coursework">Coursework</a>
          <a class="ui item" routerLinkActive="active" routerLink="/news">News</a>
          <div class="right menu">
              <!-- <a class="ui item" routerLink="profile" *ngIf="auth.loggedIn">Profile</a> -->

              <!-- <button class="ui icon button item" (click)="auth.login()" *ngIf="!auth.loggedIn"><i class="ui entry icon"></i> Log In</button>
              <button class="ui icon button item" (click)="auth.logout()" *ngIf="auth.loggedIn"><i class="ui exit icon"></i> Log Out</button> -->

              <!-- <a class="ui item" routerLink="external-api" *ngIf="auth.loggedIn">External API</a> -->
          </div>
      </div>
    </div>
    </div>
</nav>
