<p>Fire behaviour is about the way fuels ignite, flames develop and fire spreads at a range of spatial scales.  It can include fires in built or natural environments. In natural environments, the science of fire behaviour is used to predict when and how bushfires spread through the landscape. This science is used to develop computer models to simulate bushfire spread, providing information to fire fighters and the general public about bushfires in their area.</p>

<p>Fuel, weather and terrain are core drivers of fire behaviour. Our research focuses on understanding how these factors interact and influence ignition, spread and fire intensity. We use a range of methods including experiments within our fire laboratory, field observations of fires and prescribed burns, retrospective analysis of past bushfires and computer simulations.  </p>

 <p>Examples of current projects include: </p>
<ul>
    <li>Building materials</li>
    <li>Extreme fire behaviour </li>
</ul>

<h3 class="ui header">Mulching as a fuel management technique </h3>

<p>Fire managers use a range of methods to manage fuels as a means of reducing bushfire risk. Mulching is one such method where the understorey vegetation is shredded, chipped or mulched to reduce the bushfire hazard and make fire suppression more effective. Our research is about understanding how fires are likely to behave in mulched fuels. We have used experiments in our fire lab to measure how surface fires behave in mulched fuel beds and fire behaviour simulations to predict how mulching reduces bushfire risk. </p>



<h3 class="ui header">Wet forest ignitability  </h3>

<p>Wet eucalypt forests (dominated by Mountain Ash or Alpine Ash) are usually too wet to burn but when they dry out enough to become flammable they become one of our most dangerous fuel types. Despite this fire threat, we understand very little about fire behaviour in these forests. In this project we are using a combination of field ignition experiments and historic fire analysis to understand when wet eucalypt forests transition to a flammable state. The research is being conducted in close collaboration with Victorian fire agencies and the results will be used by these agencies to predict when wet forests across south-eastern Australia are flammable.  </p>
