<p>The evaluation of fire behaviour in laboratories and at small scales allows the physical process of fire to be understood.  However, bushfires burn under varying climatic and weather conditions through complex landscapes that have a high degree of variation in the nature of vegetation, fuel moisture, topography and the location of vulnerable assets. The nature of fire varies greatly through space and time; some years high levels of rainfall may mean few wildfires that pose little threat to human values.  Other years, in particularly during periods of prolonged drought, the potential for uncontrollable bushfire is high.  Therefore, an understanding of the processes which drive spatial and temporal variation in landscape flammability is critical to for assessing fire risk.  </p>

<p>At the University of Melbourne, we study landscape flammability from two different perspectives – the development of methods to extend laboratory research to large scales; and the development of methods to extract information from fire observations and large scale measurements to determine the roles of key environmental drivers (I.e. dryness, vegetation type).  This will enable the processes that drive fire behaviour at large scales to be better understood, and enable potential levers that managers can use to influence future fire risk to be identified. </p>

<p>Examples: </p>
<ul>
    <li>Burn windows. </li>
    <li>Landscape fuel moisture </li>
</ul>
